{% extends 'base.html' %}
{% block title %}Project Form | PMS{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-6">

        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white">
                <h5 class="mb-0">
                    {% if form.instance.pk %}
                        Edit Project
                    {% else %}
                        Create Project
                    {% endif %}
                </h5>
            </div>

            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-success">Save</button>
                        <a href="{% url 'projects:project_list' %}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}