{% extends 'base.html' %}
{% block title %}Projects | PMS{% endblock %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Projects</h2>

    {% if user.role == 'manager' %}
        <a href="{% url 'projects:project_create' %}" class="btn btn-primary">+ Create Project</a>
    {% endif %}
</div>

{% if projects %}
    <table class="table table-striped table-hover align-middle">
        <thead class="table-dark">
            <tr>
                <th>Project Name</th>
                <th>Manager</th>
                <th>Deadline</th>
                <th width="180">Actions</th>
            </tr>
        </thead>

        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.name }}</td>
                <td>{{ project.manager.username }}</td>
                <td>{{ project.deadline }}</td>
                <td>
                    <a href="{% url 'projects:project_detail' project.pk %}" class="btn btn-sm btn-info">View</a>

                    {% if user == project.manager %}
                        <a href="{% url 'projects:project_update' project.pk %}" class="btn btn-sm btn-warning">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">No projects found.</div>
{% endif %}

{% endblock %}